@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #bbf1d0;
    font-family: "Inter", sans-serif;
    color: #1c1d1f;
}

.cabecalho {
    background-color: #bbf1d0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}

.cabecalho-imagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.875rem;
}

.cabecalho-imagem img {
    width: 3.125rem;
    height: 3.125rem;
}

.cabecalho-imagem h1 {
    color: #cd426a;
    font-size: 2rem;
}

.cabecalho-ham {
    display: none;
}

.cabecalho-ham .fechar {
    display: none;
}

.cabecalho-ham ion-icon {
    color: #1c1d1f;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
}

.menu-item {
    color: #1c1d1f;
    text-decoration: none;
    text-align: center;
    padding: 0.625rem;
    border-bottom: 0.125rem solid transparent;
}

.menu-item:hover {
    transition: 0.3s;
    border-bottom: 0.125rem solid #1c1d1f;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.5rem;
    align-items: center;
    border-top: 0.4px solid #1c1d1f;
}

.conteudo {
    max-height: 70vh;
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    border-radius: 0.75rem;
    box-shadow: 0.375rem 0.375rem 0.625rem rgba(0, 0, 0, 0.274);
}

.conteudo-imagem {
    background-image: linear-gradient(#1aa37a, #9dffb3);
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.conteudo-imagem img {
    width: 31rem;
}

.conteudo-formulario {
    background-color: #fafafa;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.conteudo-formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.formulario-titulo {
    text-align: center;
}

.formulario-titulo h3 {
    color: #2e2e2e;
}

.formulario-entrada {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.entrada-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.entrada-box input {
    background-color: #fafafa;
    color: #1c1d1f;
    border: none;
    height: 2.5rem;
    outline: none;
    border-radius: 0.5rem;
    padding-left: 0.625rem;
    font-size: 0.875rem;
    box-shadow: 1px 1px 6px #00000050;
}

.entrada-box input:focus-visible {
    outline: 1px solid #cd426a;
}

.entrada-box label {
    font-size: 0.875rem;
}

.formulario-envio input {
    background-color: #cd426a;
    color: #fafafa;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0 0.75rem;
    border: none;
    height: 2.5rem;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.formulario-envio input:hover {
    background-color: #cf2454;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.requi:after {
    content: "*";
    color: #ff0000;
}

@media screen and (min-width: 0) and (max-width: 48em) {

    .conteudo-imagem {
        display: none;
    }

    .conteudo-formulario {
        width: inherit;
        border-top-left-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
    }

    .formulario-entrada {
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 69.375em) {
    .formulario-entrada {
        flex-direction: column;
    }
}