@media screen and (min-width: 0) and (max-width: 48em) {
    main {
        border-top: 0;
    }

    .cabecalho {
        border-bottom: 0.4px solid #1c1d1f;
        padding: 0.75rem;
    }

    .cabecalho-imagem img {
        display: none;
    }

    .cabecalho-ham {
        display: flex;
        flex-direction: row;
    }

    .cabecalho-menu {
        width: 100%;
        display: none;
    }

    .menu-item {
        display: inline-block;
        border-top: 0.4px solid #1c1d1f;
    }

    .menu-item:hover {
        background-color: #fafafa;
        border-bottom: 0;
    }
}